# Database configuration
DB_SERVER_IP = '103.235.104.111'
DB_USER_NAME = 'usr_ppmuat'
DB_PASSWORD = 'RYtVj3xjj0yq7%!o'
DB_NAME = 'PPMUAT'

# Server configuration
NODE_ENV = "XXXXXX"
PORT = 0000
BASE_URL = "XXXXXX"
SECRET_JWT = "XXXXXX"
REFRESH_JWT = "XXXXXXXX"

# Google Auth
CLIENT_ID = "your_google_auth0_client_id"
CLIENT_SECRET = "your_google_auth0_client_secret"
CLIENT_URL = "your_frontend_url"


# MailSender
MAIL_TOKEN = "ms.abcdefghijklmnopqrstuvwxyz"

# FTP CREDENTIALS
FTP_HOST = "host.app.in"
FTP_PORT = 21
FTP_USERNAME = "user_name"
FTP_PASSWORD = "ftp@password"